/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}


:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  background-color: #f9fafb;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}


.image-logo {
  position: sticky;
  top: 0;
  width: 40%;
  height: 100vh;
  flex-shrink: 0;
}

.image-logo > img {
  height: 100%;
  width: 100%;
}

.main {
 display: flex;
 flex-direction: column;
 width: 60%;
 justify-content: center;
 margin-top: 60px;
}

.big-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 60px;
  margin-right: 200px;
}

.logo-title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20%;
  background-color: #00000079;
  color: #fff;
  width: fit-content;
  width: 100%;
  padding: 20px;
  font-weight: 900;
  font-size: 48px;
}

.logo-title p {
  font-family: "Comforter", system-ui, sans-serif;
  font-size: 5rem;
  font-weight: bold;
}

fieldset {
  border: none;
  background-color: white;
  margin-top: 60px;
  padding-left: 60px;
  width: 100%;
  box-shadow: 2px 6px 6px -1px hsla(220, 10%, 20%, 0.15);
}

.column-wrap {
  display: flex;
}

.input-c1,
.input-c2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-c1 {
  padding-right: 80px;
}


label {
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  font-weight: 500;
}

fieldset p {
  margin: 20px 0;
}

.logo-title::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background-image: url(./img/odin-lined.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
}

input {
  width: 250px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 25px;
  padding: 3px 8px;
}

input:focus {
  border-color: #4a93f2;
  box-shadow: 2px 4px 8px -1px hsla(213, 10%, 21%, 0.25);
}

button {
  margin-top: 40px;
  margin-left: 60px;
  padding: 10px;
  width: 220px;
  height: 50px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 4px 8px -1px hsla(213, 10%, 21%, 0.25);
  background-color: hsl(214, 87%, 62%);
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  transition: transform 100ms ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: hsl(214, 87%, 52%);
}

button:active {
  transform: translateY(2px);
}

.login {
  margin-left: 60px;
  margin-top: 30px;
  font-size: 1.2rem;
}

a {
  text-underline-offset: 2px;
  text-decoration-color: rgba(255,255,255,0.7);
  color: rgba(255,255,255,0.7);
}

.login a {
  color: hsl(214, 87%, 62%);
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: hsl(214, 87%, 52%);
  text-decoration-color: hsl(214, 87%, 52%);
}

input:user-invalid {
  border-color: #c0393b;
  box-shadow: none;
}

.credit {
  position: absolute;
  bottom: 10px;
  color: rgba(255,255,255,0.7);
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

footer {
  margin-top: auto;
  margin-bottom: 10px;
  padding: 20px 60px;
  text-align: center;
}

footer a {
  color: hsl(214, 87%, 62%);
  font-weight: 600;
}